.footer {
  background: linear-gradient(rgba($blue-500, 60%), rgba($blue-500, 90%)),
    url("#{$image-path}/beautiful-student-girl-learning-online.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    align-items: center;
    display: flex;
    gap: 3rem 10rem;
    flex-direction: column;
    min-height: 28rem;
    justify-content: center;
  }

  &__logo {
    width: 10rem;
    img {
      filter: invert(1) brightness(0) invert(1);
    }
  }

  &__credits {
    align-items: center;
    color: $white;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    flex-direction: column;
    font-weight: 200;
    font-size: 0.75rem;
    width: 6rem;
  }
}
