.about {
  font-family: $primary-font;
  padding-bottom: 2rem;
  position: relative;
  text-align: center;

  &__container {
    max-width: 64rem;
  }

  &__title {
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;

    @include before-element;
  }

  &__subtitle {
    font-size: 1.125rem;
  }

  &__cards {
    counter-reset: card;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 2rem;
    margin: {
      bottom: 2.5rem;
      top: 1.5rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    counter-increment: card;
    flex: 1;

    &::before {
      align-items: center;
      border: 3px solid $blue-200;
      border-radius: 50%;
      color: $blue-200;
      content: counter(card) ".";
      display: flex;
      font-weight: 900;
      font-size: 1.5rem;
      margin-bottom: -2px;
      margin-left: 1.5rem;
      height: 2.75rem;
      justify-content: center;
      width: 2.75rem;
    }

    &-content {
      border: 4px solid $blue-200;
      border-radius: 1.25rem;
      flex: 1;
      padding: 1.5rem;
      text-align: left;
      text-transform: uppercase;
      text-wrap: balance;

      strong {
        display: block;
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
      }

      p {
        display: block;
        font-size: 0.9375rem;
        font-family: $secondary-font;
      }
    }
  }

  &__text {
    margin: 0 auto;
    max-width: 46rem;
    font-size: 1.375rem;
  }

  &__image {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 24rem;

    img {
      height: auto;
      width: 100%;
    }
  }
}

@mixin about-xl {
  .about {
    &__image {
      display: none;
    }
  }
}

@mixin about-sm {
  .about {
    padding: 0;

    &__card {
      &::before {
        margin: {
          left: auto;
          right: auto;
        }
      }
      width: 100%;
      &-content {
        text-align: center;
      }
    }
  }
}
