.hero {
  &__container {
    color: $blue-500;
    max-width: 60rem;
    padding-top: 2rem;
    text-align: center;
  }

  &__logo {
    margin: {
      bottom: 1rem;
      left: auto;
      right: auto;
    }
    width: 6rem;

    img {
      width: 100%;
    }
  }

  &__headline {
    font-family: $primary-font;
    font-size: 1.5rem;
    text-transform: uppercase;
    max-width: 52rem;
    margin: {
      bottom: 0.5rem;
      left: auto;
      right: auto;
    }
  }

  &__subheadline {
    font-size: 1rem;
    font-weight: 500;
    max-width: 48rem;
    margin: 0 auto;
  }

  &__headline,
  &__subheadline {
    strong {
      color: $blue-700;
      font-weight: 700;
    }
  }

  &__video {
    margin: 1rem auto;
    max-width: 48rem;
    position: relative;

    #smartplayer {
      border-radius: 1.25rem !important;
    }
  }

  &__description {
    font-weight: 500;
    max-width: 48rem;
    margin: 0 auto;

    em {
      font-weight: 700;
    }
  }
}

@mixin hero-sm {
  .hero {
    &__container {
      padding-top: 1.25rem;
    }

    &__headline {
      text-wrap: balance;
    }

    &__logo {
      width: 8rem;
    }
  }
}
