body {
  -webkit-font-smoothing: antialiased;
  font-family: $secondary-font;
}

html {
  font-size: 150%;

  @include respond-to("ultra") {
    font-size: 125%;
  }

  @include respond-to("xxxl") {
    font-size: 100%;
  }

  @include respond-to("md") {
    font-size: 87.5%;
  }

  @include respond-to("sm") {
    font-size: 85%;
  }
}
