// Fonts
$primary-font: "Ubuntu", sans-serif;
$secondary-font: "Instrument Sans", sans-serif;

// Colors
$black: #000000;
$gray-100: #ebebeb;
$gray-200: #a1beee;
$gray-300: #D9D9D9;
$white: #ffffff;

$blue-200: #3399ff;
$blue-400: #1554A8;
$blue-500: #114488;
$blue-700: #112244;

$light-green-200: #5dbb2f;
$greenish-300: #47bca9;

$red-200: #e63946;
$red-500: #8b0000;

// Folders Path
$base-path: "../assets";
$image-path: "#{$base-path}/images";
$font-path: "#{$base-path}/fonts";
$icon-path: "#{$base-path}/icons";
